$black: #242331;
$green: #6BD425;
$green-dark: #618B25;
$blue: #006494;
$yellow: #DDCA7D;


body {
    margin: 0;
    font-family: sans-serif;
    color: white;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
}
  
.editor {
    max-width: 40%;
    flex: 1;
    background-color: $black;
    padding: 20px;
    .commands {
        display: flex;
        flex-direction: column;
        height: 100%;
        .form,.history {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .form {
            .toolbar {
                display: flex;
                align-items: center;            
                margin-bottom: 10px;
                .toolbar-icon {
                    margin-right: 10px;
                }
            }
        }
        .history {
            .history-console {
                flex: 1;
                height: 100%;
                margin-top: 20px;
                padding: 5px 10px;
                .test{
                    background-color: $yellow !important;
                }
                p {
                    max-width: 100%;
                    overflow: hidden;                
                }
            }
            .history-buttons {
                display: flex;
                justify-content: center;
                margin-top: 20px;
                button {
                    flex: 1;
                    margin: 0 10px;
                }
            }
        }
    }
}

.viewer {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;    

    .canvas {
        margin: 20px;
        background-color: #191919;
    }

    .image-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .layer {
            &.selected {
                .image {
                    outline: 2px solid $green-dark;
                }
            }
            .image {
                max-width: 100%;
            }
        }
    
        .selection {
            position: absolute;
            border: 1px solid $green;
        }
    }

    .dimensions {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .layer-selection {
        display: flex;
        align-items: flex-end;
        position: absolute;
        z-index: 9999;
        bottom: 0;
        left: 10px;
        padding: 20px;
        background-color: rgba(58,56,79,0.5);
        .layer {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 120px;
            height: 120px;
            padding: 10px;
            cursor: pointer;
            &.selected{
                background-color: rgba(69,67,94,0.7);
            }
            .image {
                max-width: 100%;
            }
            .actions {
                position: absolute;
                bottom: 0px;
                right: 10px;  
                .disabled {
                    color: rgba(0, 0, 0, 0.26);
                }          
            }
        }

        .expand, .collapse {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .expand {
            padding: 10px;
        }
        .collapse {
            position: absolute;
            top: -2px;
            right: 0px;
        }
    }
}

.clickable {
    cursor: pointer;
}

.modal {
    position: absolute;
    background-color: $black;
    padding: 20px;

    .modal-header {
        margin-bottom: 10px;
        span {
            font-size: 20px;
            font-weight: bold;
        }
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .modal-actions {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        button {
            margin-left: 10px;
        }
    }
}